@import "./components/variables";
@import "./components/header";
@import "./components/herobox";
@import "./components/workbox";
@import "./components/work";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/choice";
@import "./components/project";