.clients {

  width: 100%;
  background: $background-comand-color;

  @media screen and (min-width: 480px) {
    height: 519px; 
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    height: 397px; 
  }

  @media screen and (min-width: 1200px) {
    height: 372px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__btn{
  // display: flex;
  // justify-content: center;
  // width: 170px;
  // height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px; 
  background-color: $background-head-color;
  padding: 0;
  margin: 0;
  
  &:hover,
  &:focus {
    border-color: $second-text-color;
    cursor: pointer;
  }
  
  &:hover svg,
  &:focus svg {
    fill: $second-text-color;
  }


  @media screen and (min-width: 480px) {
    width: 210px;
    height: 92px;

  }
  
  @media screen and (min-width: 768px) {
    
  }
  
  @media screen and (min-width: 1200px) {
    
    width: 170px;
    
    // &.clients__logo{
    //   display: flex;
    //   align-self: center;
    // }
  }


}

.clients__logo{  
  width: 106px;
  height: 60px;
  // display: flex;
  // align-self: center;
  fill: #AFB1B8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }

}

.clients__list{

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 768px) {
    
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    margin: 0px;

  }
  
}


.clients__nane {  
  // width: 210px;
  height: 92px;
  background: #ffffff; 

  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    // flex-basis: calc((100% - 30px) / 2);
    // margin-right: 30px;
    // margin-bottom: 30px;    

        // &:nth-last-child(-n + 2) {
        //   margin-bottom: 0;
        // }

        // &:nth-child(2n) {
        //   margin-right: 0;
        // }
    
  }

  @media screen and (min-width: 768px) {

    flex-basis: calc((100% - 60px) / 3);
    margin: 30px;
    
    background: #ffffff;        
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    margin: 0;
    flex-basis: 0;
    display: flex;
    justify-content: space-between;
  }

}




.social__btn {
  padding: 0;
  border: none;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background-color: $second-text-logo-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $second-text-color;
    cursor: pointer;
    }

    &:hover svg,
    &:focus svg {
    fill: $second-text-logo-color;
    }
}

.social__icon {
  height: 20px;
  width: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


h2.clients__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;

  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
    
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

}

