
.menu-toggle{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;    
    background-color: transparent;

    &:hover, &:focus{
      fill: $hover-focus-color;
    }
    
    @media screen and (min-width: 768px) {
    display: none;
  }
}

.mmenu-toggle .icon-cross{
    display: none;
}

.menu-button.is-open .icon-cross{
    display: block;
}

.menu-button.is-open .icon-menu{
    display: none;
}

.menu-container {  
  height: 796px;
  background-color: $background-head-color;
  padding: 20px;
  text-align: center;
  font-size: 20px;
 

    @media screen and (max-width: 767px){
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        &.is-open{
        display: block;
        }
    }

    @media screen and (min-width: 768px) {
    display: flex;
    }

}

.icon-cross, .icon-menu{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

