.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: $background-comand-color;
}

h3.team__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin-bottom: 10px;
}

p.team__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $p-text-color;
  padding-bottom: 16px;
}

.team__pic {
  width: 270px;
}

.team__list {
  // display: flex;

  & .team__item:not(:last-child) {
  // margin-right: 30px;
  }

  & .team__item:not(:last-child) {
  // margin-right: 30px;
  }
}

.team__subtitle, .clients__subtitle {
  // margin-bottom: 50px;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social__link{
  // display: inline-block;
  height: 44px;
  // width: 44px;
  
  background-size: 20px;
  background-color: $background-comand-color;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social {
  // display: flex;  
  // justify-content: space-between;  
  // align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}

h2.team__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}