.team {
  
  background: $background-comand-color;

  @media screen and (max-width: 479px) {
     padding-top: 60px;
     padding-bottom: 60px;    
  }

  @media screen and (min-width: 480px) {
     padding-top: 60px;
     padding-bottom: 60px;    
  }

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }


}

h3.team__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  padding-bottom: 10px;
}

p.team__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $p-text-color;
  padding-bottom: 16px;
}

.team__pic {
  width: 100%;
}

.team__list {
  

  @media screen and (min-width: 480px) {
    
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;

    & .team__item:not(:last-child) {
      margin-right: 30px;
    }
  }  
}

.team__subtitle, .clients__subtitle {
  
  @media screen and (min-width: 480px) {
    
  }

  @media screen and (min-width: 768px) {
          
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  } 
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {

    &:not(:last-child) {
    margin-bottom: 30px;
    }

  }

  // @media screen and (max-width: 480px) {
  //   &:not(:last-child) {
  //   margin-bottom: 30px;
  //   }
  // }

  @media screen and (min-width: 768px) {

    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    // &:not(:last-child) {
    // margin-bottom: 30px;
    // }

  }

  @media screen and (min-width: 1200px) {

    margin: 0;

    &:not(:last-child) {
    margin-bottom: 0px;
    }
    
  }

}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social__link{
  
  height: 44px;
  width: 44px;
  
  background-size: 20px;
  background-color: $background-comand-color;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  @media screen and (min-width: 480px) {
    
  }

  @media screen and (min-width: 768px) {
      
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
  } 
}

.social {
  width: 206px;
  height: 44px;
  
  
  
  @media screen and (max-width: 479px) {    
    display: flex; 
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 480px) {
    display: flex; 
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}

h2.team__subtitle, h2.clients__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  
  @media screen and (max-width: 479px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.16;
  }
  
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
    font-size: 28px;
  }
  
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    font-size: 28px;
    
  }
  
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}