.work{
  padding-bottom: 94px;  
}

.work__list {
  display: flex;
}

.work__list .work__item:not(:last-child) {
  margin-right: 30px;
}

.work__text{
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: center;  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;  
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.work__pic{
  position: relative;
}

.work__subtitle {
  margin-bottom: 50px;
}

h2.work__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}