/*------------------ Work box ------------------*/

.workbox {
  background: $background-head-color;
  margin: 0px;  
  
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
        
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.workbox__items {  

  @media screen and (min-width: 480px) {
    
  }

  @media screen and (min-width: 768px) {
      
  }

  @media screen and (min-width: 1200px) {
    width: 1170px;
    height: 251px;
  }  
}

h3.workbox__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $p-text;
  margin-bottom: 10px;

  @media screen and (min-width: 480px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

p.workbox__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $p-text-color;

  @media screen and (min-width: 480px) {
    text-align: justify;
  }

  @media screen and (min-width: 768px) {

  }

  @media screen and (min-width: 1200px) {

  }
}



.workbox__hidden{
  text-align: center;
  display: none;
}



.workbox__list {  

  @media screen and (max-width: 479px) {
    padding-top: 60px;
  }
  
  
  @media screen and (min-width: 480px) {

    // &:not(:last-child) {
    //   margin-bottom: 30px;
    // }
    
  }
  
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    
    
    
  }
  
  @media screen and (min-width: 1200px) {
    
    display: flex;
    flex-wrap: nowrap;
  }  

}

.workbox__item {

  // &::before {
  // display: block;
  // content: "";
  // width: 100%;
  // height: 120px;
  background: #F5F4FA;
  // border-radius: 4px;  
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: center;
  // margin-bottom: 30px;
  // }

  
  @media screen and (min-width: 480px) {
    width: 100%;

    
  }


  @media screen and (max-width: 767px) {
     &:not(:last-child) {
      margin-bottom: 30px;
    }
    
  }
  
  @media screen and (min-width: 768px) {    
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;

  }
  
  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    // width: 270px;
    // height: 120px;
  }
}


.icon__radar {
  width: 70px;
  height: 70px;
// background-size: 70px 70px;
}

// .icon__radar::before {
// background-image: url("../img/antenna.svg"); 
// background-size: 70px 70px;
// }

// .icon__clock::before {
// background-image: url("../img/clock.svg");
// background-size: 70px 70px; 
// }

// .icon__diagram::before {
// background-image: url("../img/diagram.svg");
// background-size: 70px 70px; 
// }

// .icon__astronaut::before {
// background-image: url("../img/astronaut.svg");
// background-size: 70px 70px; 
// }
